@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
}


.full-stop{
background-color: black;
font-size: 8px;
border: 1px solid red;
}

.first-row-text{
    font-size: 12px;

}

.first-row-text:hover{
    cursor: pointer;
border-bottom: 1px solid black;
}

